.images{
  display: flex;
  align-items: flex-start; 
  transition: transform 0.5s;/*我们移动的是images，所以写在这 */
}
.images>img{
  
}
.window{
  width:300px;
  overflow: hidden;
}
.red{
  color:red;
}





























